:root {
  /* Colors */
  --bg-main: #0f1115;
  --bg-secondary: #161a22;
  --bg-card: #1c2130;

  --text-primary: #77b4b5;
  --text-secondary: #b07ab4;
  --text-muted: #7c7cff;

  --accent: #77b4b5;
  --accent-hover: #b07ab4;
  --border-color: #2a2f40;

  /* Typography */
  --font-main: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;

  /* Radius & Shadow */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.35);
}

/*BODY & GLOBAL*/
body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-main);
  font-size: var(--text-base);
}

/*  TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: var(--text-2xl);
}
h2 {
  font-size: var(--text-xl);
}
h3 {
  font-size: var(--text-lg);
}

p {
  color: var(--text-secondary);
  font-size: var(--text-base);
}

small {
  color: var(--text-muted);
  font-size: var(--text-sm);
}
/*-----------------------------------------------------------------------
/* LINKS */
a {
  cursor: pointer;
  color: var(--accent);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent-hover);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Selection color */
::selection {
  background: var(--primary-color);
  color: white;
}
